<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span><img src="https://4menshop.com/logo.png?v=1" alt="4men" (click)="navigateToHome()"></span>
  <span class="example-spacer"></span>
  <div class="header">
    <span class="new-arrival">Hang moi ve</span>
    <span class="new-arrival">Suu tap</span>
    <span class="new-arrival">Ao nam</span>
    <span class="new-arrival">Quan nam</span>
    <span class="new-arrival">Phu kien</span>
    <span class="new-arrival">Outlet sale</span>
  </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="navigateToCart()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>

